body{
  font-family: 'Ubuntu', sans-serif;
}
.active{
  margin-left: 400px;
}
.nav-item{
  padding-left: 55px;
}
.last{
  margin-left: 200px;
}
.row{
  padding: 12% 12% 12% 12%;
}
.myButton {
	background-color:#44c767;
	border-radius:27px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
